@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

body {
  font-family: "Lato", sans-serif;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 90%;
  min-width: 0;
  margin-right: 20px;
  height: 630px;
}

.bg1 {
  background-image: url("../asset/img/home.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg2 {
  background-image: url("../asset/img/home2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.embla2 {
  overflow: hidden;
}
.embla__container2 {
  display: flex;
}
.embla__slide2 {
  flex: 0 0 285px;
  min-width: 0;
  margin-right: 20px;
  height: 400px;
}

.font-header {
  font-family: "Lora", serif;
}
@media screen and (max-width: 576px) {
  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    margin-right: 20px;
    height: 630px;
  }
}
